
html
{
    background: url(back.jpg) no-repeat center center fixed;
    background-size: cover;
    color: lightgoldenrodyellow;
    font-family: Trebuchet MS, Arial, sans-serif;
}

#header{
    /*color:lightgoldenrodyellow;*/
    text-shadow: 2px 1px 8px gray;
    text-align: right;
}
/*body*/
/*{*/
/*background-image: url("back.jpg");*/
/*background-repeat:no-repeat;*/
/*width: 100%;*/
/*}*/

.logoClass
{
    /*width:50%;*/
    margin-top: 6%;
    margin-left: 30%;
    float:left;
}
.panel
{
    margin-top: 15%;
    margin-right: 10%;
    /*color:whitesmoke;*/
    background-color:rgba(0,10,0,0.5);
    text-shadow: 0px 0px 1px whitesmoke;
    float: right;
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    padding:9px;
}
.tracin
{
    /*color:darkolivegreen;*/

    font-size:8.8em;
    text-shadow: 2px 1px 8px white;
    margin-left: 5%;
    margin-top: 10%;
    width: 50%;
}
#desc{
    /*color:lightgoldenrodyellow;*/
    /*font-size:8.8em;*/
    text-shadow: 2px 1px 8px white;
    margin-left: 5%;
    margin-top: -20%;
    width: 50%;
}
a{
    text-decoration: none;
}
a:visited
{
    color:whitesmoke;
}
a:link
{
    color:whitesmoke;
}
a:hover
{

    color:white;
}

#logo{
    width: 50%;
    float: left;
}