
html
{
    background: url(back.jpg) no-repeat center center fixed;
    background-size: cover;
    color: lightgoldenrodyellow;
    font-family: Trebuchet MS, Arial, sans-serif;
}

#header{
    text-shadow: 2px 1px 8px gray;
    text-align: right;
}
.logoClass
{
    margin-top: 6%;
    margin-left: 30%;
    float:left;
}
.panel
{
    margin-top: 15%;
    margin-right: 10%;
    background-color:rgba(0,10,0,0.5);
    text-shadow: 0px 0px 1px whitesmoke;
    float: right;
    width: 25%;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    padding:9px;
}
.tracin
{
    font-size:8.8em;
    text-shadow: 2px 1px 8px white;
    margin-left: 5%;
    margin-top: 10%;
    width: 50%;
}

#desc{
    text-shadow: 2px 1px 8px white;
    margin-left: 5%;
    margin-top: -20%;
    width: 50%;
}
a{
    text-decoration: none;
}
a:visited
{
    color:whitesmoke;
}
a:link
{
    color:whitesmoke;
}
a:hover
{

    color:white;
}

#logo{
    width: 50%;
    float: left;
}

.rc-button,
.rc-button:visited {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    border-radius: 3px;
    transition: all 0.218s;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    cursor: default;
}
.card .rc-button {
    width: 100%;
    padding: 0;
}

.rc-button-submit,
.rc-button-submit:visited {
    border: 1px solid #5c3000;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #5c2820;
}
.rc-button-submit:hover {
    border: 1px solid #9f5f26;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #9f5f26;

}

footer{
    color: #c0c0c0;
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: right;
    position: absolute;
    right: 0;
    background-color:rgba(0,10,0,0.5);
  }