#title{
    font-size: 42px;
    text-align: center;
    background-color:rgba(0,10,0,0.5);
    text-shadow: 2px 1px 8px white;
}
img{
    width: 100px;
    float: left;
    margin-top: 5px;

}
#basic{
    float: left;
    width:800px;
    text-align: center;
    background-color:rgba(0,10,0,0.5);
    margin: 1px;
    padding-left: 5px;
    height: 450px;
}

#extended{
    float: left;
    text-align: center;
    padding-left: 5px;
    width: 511px;
    margin-left: 10px;
    height: 450px;
    background-color:rgba(0,10,0,0.5);
}
#graph{
    background-color:rgba(0,10,0,0.5);
    width: 200px;
    height: 200px;
    vertical-position: normal;
    /*float: right;*/
    margin-right: 5px;
}
#extended form{
    text-align: left;
    /*float: right;*/
    /*width: 400px;*/
}

#web{
    visibility: hidden;
}

.rc-button,
.rc-button:visited {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    border-radius: 3px;
    transition: all 0.218s;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    cursor: default;
}
.card .rc-button {
    width: 100%;
    padding: 0;
}

.rc-button-submit,
.rc-button-submit:visited {
    border: 1px solid #5c3000;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #5c2820;
}
.rc-button-submit:hover {
    border: 1px solid #9f5f26;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #9f5f26;

}
